.Cards {
    padding-top: 80px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
  }
  
  .Cards_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre las cards */
    justify-content: space-between; /* Distribuye las cards en el espacio disponible */
  }
  
  /* Aplicar estilos a cada Card */
  .Card {
    width: calc(33.33% - 20px); /* Calcula el ancho considerando el espaciado entre las cards */
    box-sizing: border-box;
  }
  
  /* Asegurar que las cards tengan el mismo tamaño y mantengan su alineación */
  @media (max-width: 1200px) {
    .Card {
      width: calc(48% - 20px); /* Reduzca el ancho para adaptarse a 2 columnas */
    }
  }
  
  @media (max-width: 768px) {
    .Card {
      width: calc(48% - 20px); /* Reduzca el ancho para adaptarse a 2 columnas */
    }
  }
  
  @media (max-width: 480px) {
    .Card {
      width: 100%;
    }
  }
  