.Foter {
    background-color: #033773;
    width: auto;
    height: 154px;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    padding: 0 20px;
  }
  
  .linkedin, .github, .cv {
    height: 70px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 35px; /* Espacio de 35px entre los elementos */
  }
  
  /* Elimina el margen derecho del último elemento */
  .cv {
    margin-right: 0;
    background-color: #D18123;
    border-radius: 10px;
    color: aliceblue;
    font-size: 36px;
  }
  .cv:hover{
    background-color: #ba6300;
  }
  .linkedin{
    background-color: #0a66c2;
    border-radius: 10px;
    color: aliceblue;
    font-size: 36px;
  }
  .linkedin:hover{
    background-color: #0051ae;

  }
  .github{
    background-color: #6e5494;
    border-radius: 10px;
    color: aliceblue;
    font-size: 36px;
  }
  .github:hover{
    background-color: #4f248e;
  }
   
  