/* styles/navbar.css */

.navbar {
  background: transparent;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  height: 30px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
}
a:hover {
  color: #D18123; /* Cambia el color al estar el puntero encima */
}

  

  